In [ ]:
import pandas as pd

In [ ]:
224*224

50176

In [ ]:
c = [x for x in range(50176)] # This is the column names

In [ ]:
df = pd.read_csv("../input/klatask2/train_img_2d.csv",nrows = 10,usecols = c)

In [ ]:
df.head(2) # data frame containg the data

,92,2,0,0.1,226,108,0.2,0.3,19,0.4,...,54.168,124.337,189.208,59.203,36.99,83.257,117.291,155.287,138.288,203.179
0,18,0,58,15,1,0,0,0,0,0,...,5.0,0.0,8.0,0.0,8.0,3.0,3.0,0.0,24.0,9.0
1,34,1,2,0,80,38,2,0,8,1,...,41.0,79.0,18.0,57.0,34.0,51.0,57.0,4.0,9.0,2.0

In [ ]:
df.columns = c

In [ ]:
df.head(2)

,0,1,2,3,4,5,6,7,8,9,...,50166,50167,50168,50169,50170,50171,50172,50173,50174,50175
0,18,0,58,15,1,0,0,0,0,0,...,5.0,0.0,8.0,0.0,8.0,3.0,3.0,0.0,24.0,9.0
1,34,1,2,0,80,38,2,0,8,1,...,41.0,79.0,18.0,57.0,34.0,51.0,57.0,4.0,9.0,2.0

In [ ]:
for x in range()

In [ ]:
a = df.iloc[1,c].values

In [ ]:
b  = a.reshape((224,224)) # Reshaping to a image

In [ ]:
b.shape

(224, 224)

In [ ]:
# converting images to a array and storing it in a array

l = []
from tqdm import tqdm 
for x in tqdm(range(3604)) :
    df = pd.read_csv("../input/klatask2/train_img_2d.csv",sep=',',skiprows = x ,nrows = 1,usecols = c)
    df.columns = c
    a = df.iloc[0,c].values
    b  = a.reshape((224,224))
    l.append(b)

  0%|          | 2/3604 [00:06<3:27:59,  3.46s/it]

In [ ]:
len(l)

8